@{
    ViewData["Title"] = "Lista de Equipamentos";
}


@model List<SignPC.Models.Equipamento>

<h1 class="fw-bold text-darks text-center">Equipamentos</h1>
<div class="container-fluid">
<div class="row">
  <div class="col-12">   
    <div class="col-md">
      <a asp-controller="Equipamento" asp-action="Adicionar" class="btn btn-primary my-3">Adicionar</a>
    </div>  
  </div>
</div>
  <section class="content">
      <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="d-flex">
                    <form class="d-flex" asp-controller="Equipamento" asp-action="Index">
                      <input name="pesquisaString" class="form-control me-2" type="search" placeholder="Id/marca/estado..." aria-label="Search">
                      <button class="btn btn-outline-secondary btn-md my-0 mx-1" type="submit">Pesquisar</button>
                    </form>
                  </div>
              </div>
                     @if (TempData["Deletar"] != null)
                      {
                        <p class="form-group d-flex text-success justify-content-center fw-bold fs-5">@TempData["Deletar"]</p>
                      }
                      @if (TempData["Alterar"] != null)
                      {
                        <p class="form-group d-flex text-success justify-content-center fw-bold fs-5">@TempData["Alterar"]</p>
                      }
                      @if (TempData["Adicionar"] != null)
                      {
                        <p class="form-group d-flex text-success justify-content-center fw-bold fs-5">@TempData["Adicionar"]</p>
                      }
                    <div class="card-body">
                      <table class="table table-striped table-hover table-borderless table-outline-primary align-center">
              <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Apagar</th>
                </tr>
                </thead>
                  <tbody class="table-group-divider">
                  @if(Model != null && Model.Any())
                  {
                    @foreach(var item in Model)
                    {
                    <tr class="table-outline-primary">
                        <td scope="row">@item.Id</td>
                        <td>@item.NomeEquipamento</td>
                        <td>@item.Tipo</td>
                        <td>@item.Descricao</td>
                        <td>@(item.Estado == SignPC.Enums.EstadoEnum.Disponível ? "Disponível" : "Indisponível")</td>
                    <td>
                        <a asp-action="Alterar" asp-controller="Equipamento" asp-route-id="@item.Id" class="btn btn-warning">Alterar</a>
                    </td>
                    <td>
                        <a asp-action="Deletar" asp-controller="Equipamento" asp-route-id="@item.Id" class="btn btn-danger">Apagar</a>
                    </td>
                    </tr>
                  }
                  }
                  else
                  {
                    <tr class="odd"><td valign="top" cosplan="5">Nenhum equipamento encontrado.</td></tr>
                  }
                      </tbody>
                      </table>
                </div>
            </div>
        </div>
      </div>
  </section>
</div>


